[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lebedev-quadrature"]
	path = lebedev-quadrature
	url = https://github.com/lucasmyers97/lebedev-quadrature.git
